/* header开始 */
html {
  font-size: 100px !important;
}
body {
  max-width: 640rem;
  min-width: 3rem;
  /*最小宽度300*/
}
.container {
  width: 100%;
}
/* 导航开始 */
div.head {
  height: .5rem;
  background: #ff841d;
  line-height: .5rem;
  padding: 0 .1rem;
}
div.head a {
  display: inline-block;
  height: .25rem;
}
div.head a img {
  width: 1.85rem;
  height: 100%;
}
div.head a.app img {
  width: .34rem;
  height: .34rem;
}
div.search {
  height: .5rem;
  line-height: .5rem;
  padding-top: .1rem;
  padding-right: 1rem;
  position: relative;
  border-bottom: 2px solid #f1f1f1;
}
div.search input.sear {
  height: .3rem;
  width: 100%;
  background: #f1f1f1;
  border-radius: .2rem;
  margin-left: .1rem;
}
div.search input.sub {
  position: absolute;
  right: 0;
  width: 1rem;
  height: .3rem;
  line-height: .3rem;
  border-radius: .2rem;
  background: #ff841d;
  margin-right: .2rem;
}
/* 商品主体部分开始 */
div.main {
  text-align: center;
  /* 超值折扣 */
}
div.main div#navlist {
  /* 导航区域 */
  /* 选中第八个后面的所有兄弟div让其隐藏 */
  padding: .1rem;
}
div.main div#navlist div.fl:nth-child(8) ~ div {
  display: none;
}
div.main div#navlist a {
  display: block;
}
div.main div#navlist a img {
  height: .5rem;
  width: .5rem;
}
div.main div#navlist p {
  margin-top: .06rem;
  height: .2rem;
  font-size: .10rem;
}
div.main div.recommend {
  display: block;
  height: .35rem;
  line-height: .35rem;
  background-color: #ff9000;
  font-size: .16rem;
}
div.main div.recommend span.sales {
  margin-left: .1rem;
  color: white;
}
div.main div.recommend a span.more {
  margin-right: .1rem;
  margin-top: .1rem;
  color: white;
}
div.main div.recommend .goods {
  font-size: .12rem;
  padding: .14rem;
}
div.main div.recommend .goods img {
  height: 1rem;
  width: 1rem;
}
div.main div.recommend .goods .goods_item {
  border-bottom: 1px solid #f1f1f1;
  padding: .1rem;
  text-align: left;
}
div.main div.recommend .goods .goods_item .itemImg {
  margin-right: .04rem;
}
div.main div.recommend .goods .goods_item .content .title {
  margin-bottom: .5rem;
}
div.main div.recommend .goods .goods_item .content span.red {
  color: red;
}
div.main div.recommend .goods .goods_item .content span.comments {
  color: #f1f1f1;
}
div.main div.recommend .goods .moreInfo {
  text-align: center;
}
div.main div.recommend .goods .moreInfo a {
  display: inline-block;
  width: 96%;
  border: 1px solid #ddd;
}
div.main div.recommend .range {
  background: #ff9000;
  height: .4rem;
  line-height: .4rem;
  padding: 0 .1rem;
}
div.main div.recommend .range span.white {
  color: white;
  font-size: .2rem;
}
div.main div.recommend .range span img {
  height: .2rem;
  width: .2rem;
}
/* 底部开始 */
footer {
  text-align: center;
}
footer ul {
  margin-top: .2rem;
}
footer ul li {
  height: .34rem;
  line-height: .34rem;
  float: left;
  text-align: center;
  border: 1px solid #ddd;
}
footer .bottom {
  padding: .2rem;
}
/* 固定图片 */
img.fixImg {
  position: fixed;
  height: .68rem;
  width: .6rem;
  bottom: .15rem;
  right: .15rem;
}
